* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #000;
}
ul {
	list-style: none;
	overflow: hidden;
}
#reader {
	width: 100%;
}
#head {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #ccc;
	position: relative;
}
#head .navigator {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 10px;
	visibility: hidden;
}
#head #branding {
	width: auto;
	float: none;
}
#head h1 {
	font-size: 24px;
	text-align: center;
}
#head #search {
	display: none;
}
#head .search {
	position: absolute;
	top: 0;
	right: 10px;
}
#content {
	width: 100%;
	overflow-x: hidden;
}
#content #cats,
#content #list,
#content #entry {
	width: 100%;
	display: none;
}
#content #cats li {
	line-height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	clear: left;
	height: 100%;
	font-size: 24px;
	padding-left: 20px;
	padding-right: 50px;
	white-space: nowrap;
	border-radius: 0 25px 25px 0;
}
#content #cats li.catelog {
	background-color: #d9edf7;
}
#content #cats li.today {
	background-color: #dff0d8;
}
#content #cats li.all {
	background-color: rgb(250, 247, 172);
}
#content #cats li.star {
	background-color: #f2dede;
}
#content #cats li span {
	display: inline-block;
}
#content #cats li .unread-count {
	position: relative;
	left: 20px;
	font-size: inherit;
	padding: 0 5px;
}
.down {
	-webkit-animation-name: rotate-to-down;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
}
@-webkit-keyframes rotate-to-down {
	0% {transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg); }
	100% {transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg); }
}
.right {
	-webkit-animation-name: rotate-to-right;
	-webkit-animation-duration: .4s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
}
@-webkit-keyframes rotate-to-right {
	0% {transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg); }
	100% {transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg); }
}
#content #cats li.catelog ul {
	display: none;
	margin-left: 50px;
}
#content #cats li.catelog ul li {
	line-height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#content #cats li.catelog ul li a {
	display: inline-block;
	height: 100%;
	font-size: 20px;
	padding-left: 40px;
	padding-right: 100px;
}
#content #cats li#list-detail a {
	background-color: #fcf8e3;
}
#content #list li {
	width: 88%;
	height: 70px;
	padding-left: 20px;
	padding-top: 10px;
}
#content #list li a {
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #eee;
}
#content #list li a img {
	float: left;
	height: 60px;
	width: 60px;
}
#content #list li a h3 {
	margin-left: 80px;
	height: 28px;
	line-height: 28px;
	font-size: 22px;
}
#content #list li a p {
	margin-left: 80px;
	height: 30px;
	width: 71%;
	font-size: 14px;
	line-height: 14px;
	word-break: break-all;
	overflow: hidden;
}
#content #entry .post {
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
}
#content #entry .post h3 {
	text-align: center;
	font-size: 30px;
	line-height: 36px;
}
#content #entry .post img {
	width: 70%;
	margin: 10px 40px;
}
#content #entry .post p {
	width: 90%;
	margin-left: 20px;
	word-break: break-all;
	font-size: 18px;
	line-height: 18px;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 20px;
	line-height: 20px;
	background-color: #ccc;
}